/* CSS ESPECÃFICO PARA FORMULARIO PROMUEVE 2024*/

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

.container:not(.is-max-desktop) {
    max-width: 1152px;
}

body {
    font-family: "Roboto";
    color: #b4b4b4;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    background-image: url('/static/assets/img/triangles0_7_12.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #17baa9;
    padding: .75rem;
}

.has-background-info-light {
    background-color: #eff5fb!important;
}

.panelPreinscripcion {
    max-width: 720px;
    margin: auto;
}

.block:not(:last-child), .box:not(:last-child), .breadcrumb:not(:last-child), .content:not(:last-child), .level:not(:last-child), .message:not(:last-child), .notification:not(:last-child), .pagination:not(:last-child), .progress:not(:last-child), .subtitle:not(:last-child), .table-container:not(:last-child), .table:not(:last-child), .tabs:not(:last-child), .title:not(:last-child) {
    margin-bottom: 1.5rem;
}

.box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    border-bottom: 2px solid #1f3bb8;
}

.box-round {
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    display: block;
    padding: 1.25rem;
    margin: 20px 0px;
}

.logos {
    display: flex; 
    text-align: center; 
    align-items: flex-end;
    margin: 20px;
}

.image img {
    display: block;
    height: auto;
    width: 100%;
}

.bd-placeholder-img {
    margin-left: -20px;
}

.title.is-3 {
    font-size: 2rem;
    font-weight: 600;
    color: black;
    margin-top: 20px;
    margin-bottom: auto;
}

.label {
    color: #06364B;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 0px;
}

.input, .textarea {
    box-shadow: inset 0 .0625em .125em rgba(10,10,10,.05);
    max-width: 100%;
    width: 100%;
}


.form-select {
    margin-bottom: 0.5rem;
}

.form-control:focus {
    border-bottom: 1px solid #29B4A7;   
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(0, 160, 152, 0.25);
}

.buttons.is-right {
    justify-content: flex-end;
}

.btn-primary {
    background-color: #485fc7;
    border: none;
    margin: 5px;
}

.btn-outline-primary {
    color: #06364B;
    border-color: #06364B;
    margin: 5px;
}

/*
.is-hidden {
    display: none!important;
}
*/

.content h1 {
    font-size: 2em;
    margin-bottom: .5em;
    color: #363636;
    font-weight: 600;
}

.content h4 {
    font-size: 1.25em;
    margin-bottom: .8em;
    font-weight: 600;
}

.filter-green{
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.icon_white {
    filter:  brightness(0) invert(1);
    margin-right: 10px;
}

.buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: var(--bs-form-invalid-color);
}

.alert {
    
    padding: 10px;
    margin: 10px 0px;
}

.box-redondo {
    text-align: center;
    border-radius: 8px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    display: block;
}


.titulo-tne {
    color: #06364B !important;
    font-weight: bold !important;
    margin: 20px 0px !important;
}

p {
    color: #06364B !important;
    font-weight: 300;
}

  
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  
  .flex-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  
  .flex-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .flex-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  
  .flex-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .flex-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  
  .flex-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .align-items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  } 


ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #8A69D4;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: #8A69D4;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #8A69D4;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.btn-detalle {
    color: black;
    background-color: white;
    font-size: 15px;
}

.btn-detalle:hover {
    color: white;
    background-color: black;
    font-size: 15px;
}

.btn-primary {
    background-color: #29B4A7 !important;
}