---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Plazo de Postulación Finalizado">
  <div class="box">
    <div class="field">
      <h1>Plazo de Postulación Finalizado</h1>
    </div>
  </div>
</Layout>